<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HonkPerf.NET.Core" version="1.0.0" />
  <package id="HonkPerf.NET.RefLinq" version="1.0.0" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" />
  <package id="Silk.NET.Maths" version="2.9.0" />
  <package id="Ultz.Bcl.Half" version="1.0.0" />
  <package id="Ultz.Bcl.Half.Fallback" version="1.0.0" />
</packages>